.social {
  display: flex;

  &__item {
    &:nth-child(2) {
      margin: 0 45px;
    }
  }

  &__icon {
    width: 18px;
    height: 18px;
    fill: #c2c6d2;
    transition: fill .2s;

    &:hover {
      fill: $blue-color;
    }
  }
}