.products-list {
  margin: 0 0 45px;

  &__top {
    display: flex;
    justify-content: space-between;
  }

  &__subcategory-title {
    font-size: 24px;
    margin: 0 0 30px;
  }

  &__show-all {
    color: $blue-color;
    font-size: 16px;
  }

  &__items {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -5px;
  }
}